@model LessonManager.ViewModel.OverViewModel

@{
    ViewBag.Title = Model.Lesson.Name;

}

<script src="~/JavaScript/Lessons.js" type="text/javascript"></script>
<h2>@Model.Lesson.Name</h2>
<div class="alert alert-success" id="success-message" role="alert">
    Το μάθημα ενημερώθηκε με επιτυχία !
</div>
@{
    if (Model.UserRole != "teacher")
    {
        <div class="container bootstrap snippets bootdey">
            <button type="button" style="float: right;" id="edit-lesson" class=" d-flex btn btn-labeled btn-success f-right mb-4 mr-2">
                <span class="btn-label">
                    <i class="fa fa-edit mr-2"></i>
                </span> Ενημέρωση πληοροφοριών μαθήματος
            </button>
            <button type="button" style="float: right;" id="delete-lesson" class=" d-flex btn btn-labeled btn-danger f-right mb-4 ml-2">
                <span class="btn-label">
                    <i class="fa fa-trash mr-2"></i>
                </span> Διαγραφή μαθήματος
            </button>
            <div class="row">
                <form class="form-horizontal" id="edit-lesson" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Αναγνωριστικό Μαθήματος</label>
                        <div class="col-lg-8">
                            <input id="id" disabled class="form-control" type="text" value="@Model.Lesson.Id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Όνομα</label>
                        <div class="col-lg-8">
                            <input id="name" class="form-control" type="text" value="@Model.Lesson.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Περιγραφή:</label>
                        <div class="col-lg-8">
                            <input id="description" class="form-control" type="text" value="@Model.Lesson.Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Κατάσταση:</label>
                        <div class="col-lg-8">
                            <input id="description" readonly class="form-control" type="text" value="@Model.Lesson.Status">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--Στο μέλλον θα  ελέχτεαι και αμα είναι ο διαχειστιστής ώστε να μην φαίνεται  σε όλους η φόρμα-->

        if (Model.Lesson.Status == "free")
        {
            <button type="button" style="float: right;" id="set-class" class=" d-flex btn btn-labeled btn-primary f-right mt-4 mr-2">
                <span class="btn-label">
                    <i class="fas fa-graduation-cap mr-2"></i>
                </span> Ανάθεση μαθήματος
            </button>
            <b class="mt-2">Αυτό το μάθημα δεν έχεια ανατεθεί σε κάποιο καθηγητή. Συμπληρώστε την φόρμα παρακάτω για να ορίσετε έναν καθηγητή</b>
            <div class="form-group">
                <label class="col-lg-3 control-label">Εξάμηνο</label>
                <div class="col-lg-8">
                    <select class="form-select" id="semester">
                        <option value="1">1ο</option>
                        <option value="2">2ο</option>
                        <option value="3">3ο</option>
                        <option value="4">4ο</option>
                        <option value="5">5ο</option>
                        <option value="6">6ο</option>
                        <option value="7">7ο</option>
                        <option value="8">8ο</option>
                        <option value="9">9ο</option>
                        <option value="10">10ο</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Δισάσκων</label>
                <div class="col">
                    <select class="form-select" id="teacher">
                    </select>
                </div>
            </div>
        }
    }
    else
    {
        <p1>Κάρτα μαθήματος Διδάσκονα</p1>
        <div class="container bootstrap snippets bootdey">
            <button type="button" style="float: right;" id="edit-class" class=" d-flex btn btn-labeled btn-success f-right mb-4 mr-2">
                <span class="btn-label">
                    <i class="fa fa-edit mr-2"></i>
                </span> Ενημέρωση τρόπου βαθμολόγησης
            </button>
            <div class="row">
                <form class="form-horizontal" id="edit-class" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Αναγνωριστικό Τάξης</label>
                        <div class="col-lg-8">
                            <input id="id" disabled  class="form-control" type="text" value="@Model.TeachClass.Id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Βαρύτητα Θεωρίας</label>
                        <div class="col-lg-8">
                            <input id="examWeight"  class="form-control" type="text" value="@Model.TeachClass.ExamWeight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Βαρυτητα Εργαστηρίου</label>
                        <div class="col-lg-8">
                            <input id="labWeight" class="form-control" type="text" value="@Model.TeachClass.LabWeight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Υποχρέωση Βαθμού Θεωρίας</label>
                        <div class="col-lg-8">
                            <input id="examMandatory" type="checkbox" value="@Model.TeachClass.ExamMandatory">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 control-label">Υποχρέωση Βαθμού Εργαστηρίου</label>
                        <div class="col-lg-8">
                            <input id="labMandatory" type="checkbox" value="@Model.TeachClass.LabMandatory">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    }
}
